@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face {
    font-family: Porter;
    src: url(Porter%20Bold.ttf);
}
@font-face {
    font-family: Exo;
    src: url(Exo-Thin.ttf);
}
@font-face {
    font-family: Exo_bold;
    src: url(Exo-Bold.ttf);
}
@font-face {
    font-family: Intro;
    src: url(Intro-Light.otf);
}
@font-face {
    font-family: Intro_Bold;
    src: url(Intro-Bold.otf);
}
@font-face {
    font-family: Axis;
    src: url(Axis-Extrabold.otf);
}
body
{
    background-color:#ebebeb;
}
/*@font-face{
font-family:ime;
src: url(link)
}*/
*
{
    font-family: Intro_Bold;
}
#about_us_flex
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cont_elements
{
    display: -webkit-flex;
    display: flex;
    position: relative;
    margin: auto;
}
#svg_logo_anim
{

}
#right_text {
    margin-bottom: auto;
    margin-top: auto;
}
#about_left_text
{
    margin-bottom: auto;
    margin-top: auto;
}
#of_text
{
    text-align: center;
}
#about_us_flex
{

    display: -webkit-flex;
    display: flex;
    width:100%;
    background-color:#ffffff;
    position: absolute;
    height: 200px;
    border-bottom: solid #000000 5px;
}
#about_us_text
{
    display: flex;
    display: -webkit-flex;

}
.about-texts
{
    font-family: Exo_bold, cursive;
    font-size: 30pt
}

@media only screen and (max-width: 880px) {
    .about-texts
    {
        font-size: 20pt;
    }
}
#about_us_content
{
    height: 625px;
    overflow-x: hidden;
    width: 99%;
    position: relative;
    background-color: #ffffff;
    top: 215px;
    padding: .5%;
}

#kanta
{
    top:0;
    left:0;
    position:absolute;
    height:100%;
    width:100%
}
#gornjalinija
{
    top:0;
    left:0;
    background-color:#ffffff;
    position:absolute;
    height: 60px;
    width: 100%

}
#learn
{
    content: "";
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size:2em;
    position:absolute;
    margin-left: 20px;
    top:10px;
    color: #000;
    border-bottom: 2px solid red;
    color:black;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#learn::before,
#learn::after{
    content: "-";
    opacity: 0;
    transition: all .5s;
    margin: 0;

}
#learn:hover::before
{
    content:"-";
    opacity: 1;
    transition: all .5s;
}
#learn:hover::after
{
    content:"-";
    opacity: 1;
    transition: all .5s;

}
@media only screen and (max-width : 750px) {
    #learn
    {
        font-size: 1em;
        top:18px;
    }
    
}
#podvucena
{
    left:2.5%;
    position:absolute;
    background-color:red;
    height:2px;
    top:6.5%;
    display: none;
    width:12.5%;
    z-index:0;
}
#avatar
{
    text-align: center;
}
#avatar img
{
    border-radius: 50%;
    object-fit:cover;
    width: 90px;
    height: 90px;
}
#pretraga
{
    position:relative;
    left:30%;
    top:20%;
}
#desnimeni
{
    overflow: hidden;
    top:60px;
    width:240px;
    position:absolute;
    left:0;
    background-color:#fff;
    z-index:999;
}
#account
{
    display: inline-block;
    position: relative;
    top: 3px;
}
#ac
{
    font-family:Intro;
    font-size:130%;
    display: inline-block;
}
#lb
{
 display: inline-block;
    position: relative;
    top: 3px;
}
#library
{
    font-family:Intro;
    padding-top:1%;
    font-size:130%;
    display: inline-block;

}
#hr
{
    display: inline-block;
    position: relative;
    top: 3px;
}
#logout
{
    font-family:Intro;
    padding-top:1%;
    font-size:130%;
    display: inline-block;
}
#mc
{
    display: inline-block;
    position: relative;
    top: 3px;
}
#my_courses
{
    font-family:Intro;
    padding-top:1%;
    font-size:130%;
    display: inline-block;
}
#my_coursess
{

    background-color: #ffffff;
    width: 100%;
    position: absolute;
    float: left;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align:center;
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

}
#user
{
    display: inline-block;
    position: relative;
    top: 3px;
}
#plus
{
     display: inline-block;
    position: relative;
    top: 3px;
}
#users
{
    font-family:Intro;
    display: inline-block;
    padding-top:6%;
    font-size:130%;
}
#linija
{
    height:2px;
    width:80%;
    background-color:red;
    margin: auto;
}
#favorites
{
    color:red;
    position:relative;
    top:5%;
    left:27%;
    font-size:150%;
}
#linija2
{
    left:10%;
    position:relative;
    top:6%;
    height:0.4%;
    width:80%;
    background-color:red;
    opacity:0.2;
}
#text1
{
    left:40%;
    position:relative;
    top:52%;
    font-size:140%;
}
#datum1
{
    left:40%;
    position:relative;
    font-size:115%;
    top:58%;
    color:silver;
}
#text2
{
    top:64%;
    left:40%;
    position:absolute;
    font-size:140%;
}
#datum2
{
    left:40%;
    position:absolute;
    font-size:115%;
    top:70%;
    color:silver;
}
#linija3
{
    left:10%;
    position:absolute;
    top:78%;
    height:0.4%;
    width:80%;
    background-color:red;
    opacity:0.2;
}
.block
{
    display: inline-block;
}
#static
{
    font-family:Intro;
    font-size:130%;
    margin-left: 15px;
    margin-top: 10px;
}
.links
{
    margin-bottom: 10px;
}
.link
{

    color: #000000;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.link:hover
{
    color:#ee2033;
}
#mainlibrary
{
    float: left;
    background-color: #ffffff;
    width: 49.51361868%;
    position: absolute;
    float: left;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align:center;
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#mainlibrary:hover
{
    color:#ee2033;
}
#f_1, #f_2, #f_3
{
    display: none;
}
#link_container
{
    font-family:Intro;
    display: flex;

    position: absolute;
    width: 100%;

}
#form_password_rex
{

}
#nav-icon3 {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    color:#ee2033;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    background:#ee2033;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 0.5em;
}

#nav-icon3 span:nth-child(4) {
    top: 1em;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
#menimeni{
    position: absolute;
    left: 130%;
    font-size: 1.5em;
    top: -3px;
}
#hamburger_menu
{
    position:absolute;
    right: 135px;
    bottom:25px;
    margin-top:20px ;
    z-index: 1000000;
    display: none;
}
.red
{
    fill:red;
}
.normal{
    fill:black
}
#like_button
{
    width: 50px;
    background: transparent;
    border: none !important;
}
#like_button:hover
{
    cursor: pointer;
}

#content_wrapper
{
    display: block;
    position: absolute;
    top: 70px;
    left: 250px;
    width: 80.3030%;
    overflow: scroll;
    height: 100%;
}
#categories
{
    float: right;
    width: 49.51361868%;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align:center; -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#categories:hover
{
    color:#ee2033;
}
#polje
{
    background-color:#ffffff;
    position:absolute;
    width: 80.3125%;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;

    font-family: Exo_bold;
}
#polje2
{

    background-color:#FFFFFF;
    position:absolute;
    width: 100%;
height: 100%;
    overflow-x: hidden;
    top: 47px;
}
#poljeF
{

    background-color:#ffffff;
    width: 100%;
    display: inline-block;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#success_wrapper
{
  margin: auto;
  float:right;
  display:block;
  margin-right: 60px;
  text-align:center;
}
#left_info
{
    float:left;
    display:block;
    width:auto;
    height:auto
}
@media only screen and (max-width: 960px){
    #success_wrapper
    {
        float: none;
    }
    #diagram-id-2
    {
        margin: auto;
    }
    #left_info 
    {
        float: none;
        margin-bottom: 10px;
    }
}
#poljeF2
{
    margin-top:15px;
    background-color:#ffffff;
    width:100%;
    padding-top: 20px;
    height: auto;
    display: block;
    padding-bottom: 20px;

}
#poljeF2::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
#poljeF2::before {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
#text4
{
    font-size:140%;

    font-family:Intro_Bold;
}

#imev
{
    width: auto;
    height: auto;
    font-size: 25pt;
    font-family: Calibri;

}
#chat
{
    position: absolute;
    right: 0;
    bottom:0;
    margin-top: 15px;
    width: 30px;
}
@media only screen and (max-width: 800px){
#chat
{
    width: 30px;

    
}
    #hamburger_menu
    {
        display: block;
    }
    #desnimeni
    {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    #desnimeni.open{
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    #content_wrapper
    {
        display: block;
        position: absolute;
        top: 70px;
        left:10px;
        
        overflow: scroll;
        height: 100%;
    }
}
#search_bar
{
    width:35%;

    margin: auto;
    display: block;
    margin-top: 20px;
}
#search_submit
{
    width:5%;
    left:71%;
    top:2.3%;
    position:absolute;
}
#static_save
{
    position:relative;
    width:auto;
    left:10px;
    top:5px;
}
#opisv
{
    width: auto;
    font-size: 25pt;
    font-family:Intro;
    color:silver;
}
.course_wrapper
{
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: auto;
}
#edit_button img
{
    display: inline-block;
    position: relative;
    width: 1em;
    top: 10px;
}
#edit_button div
{
    display: inline-block;
    font-size: .85em;
    margin-left: 5px;
    color: red;
}
#datumv
{
    font-size: 25pt;
    font-family:Intro;
    color:silver;
}
@media only screen and (max-width: 960px){
    #course_info
    {
        display: inline-block;
    }
    #thumbnail
    {
        display: inline-block;
    }
}
#course_info
{
    margin-left: 15px;
}
#author
{
    color:silver;
    font-size: 25pt;
    font-family:Calibri;
    left:5%;
    top:20%;
}
#categoryv
{
    font-size: 25pt;
    font-family: Exo;
}
#kvadrat {
    position: relative;
    width: 422px;
    height: 211px;
    text-align: center;
    margin-top:1%;
    padding:10px;
    margin: auto;
    border-radius: 5px;
    background: transparent;
    transition: all 0.6s ease 0s;
    box-shadow:none;
    border:none;
    text-shadow:none;
    color:transparent;
}
#kvadrat:hover
{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: -webkit-transform .1s ease-out;
    -webkit-transition: transform .1s ease-out;
    -moz-transition: transform .1s ease-out;
    transition: transform .1s ease-out;
}

a, u {
    text-decoration: none;
    color:black;
}
#search_error1
{

    font-size: 50pt;
    color:#ff5757;
    font-family:Oswald;
}
#search_error2
{
    font-size: 35pt;
    font-family: Exo_bold;
}
#quote1 {
    font-style: italic;
    top: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 14pt;
    color: grey;
}
#Container
{
    top: 500px;
    right: 0px;
    max-height: 100%;
    max-width: 100%;
    background-color: red;
}
#logo2 img
{
    display: none;
}
@media only screen and (max-width : 413px){
    #form2
    {
        width:10000000px;
        text-align: center;
    }
    h2
    {
        margin: 0;
    }
}
@media only screen and (max-width : 1120px){
#logo img
{
    width: 300px;
}
}
@media only screen and (max-width : 1013px){
#logo img
{
    width: 190px;
}
}
@media only screen and (max-width : 800px){
#logo img
{
    width: 90px;
}
}
@media only screen and (max-width : 600px){
    #logo img
    {
        display:none;
    }
    #logo2 img
    {
        display: block;
        position: absolute;
        height: 100%;
        top:0;

    }
    #form2
    {
        width: 100%;
    }
}

#logo1
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    top: 150px;
    position: absolute;
}
#Mouse1
{

    max-width: 95%;
    max-height: 100%;
    width: 100%;
    position: absolute;
    top: 500px;
}
#imesajta
{
    font-family: Oswald;
}
.color
{
    background-color: black;
    width: 100%;
    height: 100px;
}
.Text
{
    font-size: 14pt;
    background-color: transparent;
    border-bottom-color: slategray;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-top: 5%;
    height: 5%;
    font-family: fantasy;

    text-align: center;
}
#text_remember
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
img#close {
    position:absolute;
    right:0;
    top:0;
    cursor:pointer
}
div#popupContact {
    border: none;
    left:50%;
    top:17%;
    font-family:'Raleway',sans-serif
}
#form2{
    max-width:300px;

    padding:10px 50px;
    background-color:#fff;
    border: 4px solid black;
    margin: auto;
    margin-top: 100px;
}
p {
    margin-top:30px
}
h3
{
    font-size: 20pt;
    color: #000000;
    text-align: left;
    font-style: italic;
}
h1
{
    font-family: 'Porter', cursive;
    font-size: 42pt;
}
h2 {
    color: #000000;
    font-family: Oswald;
    background-color:#ffffff;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
   /* border-radius:10px 10px 0 0*/
} /* Konflikti sa about us
hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
} */

/*input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:14px;
}*/

#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#FFBC00;
    color:#fff;
    border:1px solid #FFCB00;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px
}
.btn1
{
    width: 100px;
    transition: all 0.6s ease 0s;
    border: none;
    border-bottom: 2px solid #000000;
    background: transparent;

}
.btn1:hover
 {
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    background: #000000;
    color: #ffffff;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
 }

.addqu
{
    background: transparent;
    transition: all 0.6s ease 0s;
    box-shadow:none;
    border:none;
    text-shadow:none;
    color:transparent;
}

.addqu:hover
{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: -webkit-transform .1s ease-out;
    -webkit-transition: transform .1s ease-out;
    -moz-transition: transform .1s ease-out;
    transition: transform .1s ease-out;
}
#form1
{
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:3px solid gray;
    border-radius:10px;
    background-color:#fff
}
#mext
{
    position: relative;
     top: 50%;

}
#logo3 img
{
    display: none;

}
@media only screen and (max-width : 414px) {
    #logo3 img
    {
        display: block;
        width: 100%;
    }
    #mext
    {
        display: none;
    }
}
@media only screen and (max-height : 620px) {
    #logo3 img
    {
        height: 300px;
        width: auto;
    }
}
.header
{
 background: rgba(66, 66, 66, .9);
    z-index: 999;
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: solid #ffffff ;
    height: 50px;
}
#about_us
{
    float: left;
    left:20%;
    width: 200px;
}

nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  position: relative;
  float: right;
  background: transparent;
  height: 50px;
}

nav li {
  float: right;
}

nav #login {
  width: 100px
}

nav #login-trigger,
nav #about-trigger{
  display: inline-block;
  height: 25px;
  line-height: 50px;
  background-color: transparent;
  padding: 0 8px;
  text-decoration: none;
  color: #000000;
}
nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  color: #ffffff;
  height: 50px;
  width: 100px
  text-align: center;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: transparent;
}
nav #about-trigger {
 color: #ffffff;
  height: 50px;
  width: 100px
  text-align: center;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
nav #login-trigger:hover,
nav #login .active,
nav #about-trigger:hover,
nav #about-trigger.active {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

nav #login-content {
  border: solid grey;
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;
  background: #fff;
  background-color: #ffffff;
  padding: 15px;

  width: 1000px
}
nav #about-content {

  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 998;
  background: #fff;
  background-color: #ffffff;
  padding: 15px;
  border: solid grey;
  width: 1500px;
  }
/*Ovde se zameni width za onu velicinu boxa*/
nav li #login-content {
  right: 0;
  width: 260px;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 5px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border-color: transparent;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #f1f1f1;
  outline: none;
}

/*--------------------*/

#login #actions {
    text-align: center;
  margin: 10px 0 0 0;
   display: inline-block;
   border-style: none;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
}
#login #submit {
  background-color: #ffffff;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: 14px'Porter', cursive;
  color: #000000;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-style: none;
}

#login #submit:hover,
#login #submit:focus {
    background-color: #ee2033;
}

#login #submit:active {
  outline: none;
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
#F_pass
{
 text-decoration: none;
 color: #000000;
}
#botmz
{
  text-decoration: underline;
  color: #ffffff;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#tag_button
{
    color: #000000;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#tag_button:hover
{
    color:#ee2033;
}
#botmz:hover
{
  text-decoration: underline;
  color:#ee2033;
}

/* COURSE CREATE */
#course_title
{
    border: none;
    border-bottom: solid red 3px;
    color: red;
    margin: auto;
    width: auto;
    text-align: center;
    font-size: 2em;
}
.header_text
{


    display: table;
    margin: auto;
    font-size: 2em;
    font-family: Intro_Bold;
    margin-top: 20px;
}
@media only screen and (max-width: 760px){
    .header_text
    {
        font-size: 1.25em;
        top:25px;
    }
}
@media only screen and (max-width: 800px){
    #course_title
    {
        display: block;
        margin-left:0;

    }
}
.hide_input
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.width
{
    margin: auto ;
    width: auto;
}
#course_title::-webkit-input-placeholder
{
    color: rgba(255,0,0,0.4) !important;
}

#course_title:-moz-placeholder
{
    color: rgba(255,0,0,0.4) !important;
}

#course_title::-moz-placeholder
{
    color: rgba(255,0,0,0.4) !important;
}

#course_title:-ms-input-placeholder
{
    color: rgba(255,0,0,0.4) !important;
}
#course_title
{
    margin-top: 2%;
    font-family: Exo_bold;
}
#thumbnail
{
    width: 400px;
    float: left;
    margin-left: 10px;
    margin-right: 15px;

}
#thumbnail img
{
    height: 100%;
width: 100%;
object-fit: cover;
}
#filename
{
    display: inline-block;
    font-size: 1.5em;
    width: auto;
    border: none;
    border-bottom: solid red 2px;
}
#thumb_text
{
    width: 100%;
    position: relative;
    top: 15%;
    font-size: 35pt;
}
#wrapping_content
{
    margin-top: 3%;
}
 #choose_file::-webkit-file-upload-button
 {
     visibility: hidden;
 }
 #choose_file::before
 {
     width: 20%;
     margin-left: 5%;
     margin-top: 2%;
     font-size: 1.5em;
     background-color: transparent;
     border: solid red 2px;
     transition: all 0.5s ease;
     color:gray;
     display: inline-block;
     clear: both;
     content: 'Choose thumbnail' ;

 }
/*{

}*/
#polje4
{
    background-color:#FFFFFF;
    position:absolute;
    width: 100%;
    height:100% ;
    overflow-x: hidden;

    font-family: Exo_bold;
}
 #choose_file:hover
{

    background-color: red;
    border: solid red  2px;
    color: black;
}
#text_area
{

    border: dashed red 2px  ;
    height: 175px;
    font-size: 1.5em;
    resize: none;
}

.animacija:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#CFL_button
{
    position: relative;
    top: 75px;
    left: 40%;
    font-size: 1.5em;
    background-color: transparent;
    border: solid red 2px;
    transition: all 0.5s ease;
    color:gray;
    display: inline-block;
    clear: both;
    font-family: Exo_bold;
}
#CFL_button:hover
{
    background-color: red;
    border: solid red  2px;
    color: black;
}
.text_area_create
{
    border: none;
    border-bottom: solid 2px red;
}
#cat_link
{
    color: red;
    text-decoration: underline;
    transition: all 0.5s ease;
    position: absolute;
    left: 30%;
    display: table-cell;
    top: 1em;
    font-size: 1.5em;

}
#cat_link:hover
{

}
#les_thumb
{
    height: 70px;
    width: 100px;
    background-color: #000000;
    display: inline-block;
}
#lessons
{
    position: relative;
    display: block;
    left: 3%;
    top:2%;
    padding-bottom: 30px;
}
.inline
{
    display: inline-block;
}
.content_class
{
    position: relative;
    top: 15px;
}
#les_title
{

}
#les_desc
{

}
#les_date
{

}
#plus_container
{
    border: solid red  2px;
    height: 70px;
    width: 100px;
    display: inline-block;
    background-color: transparent;
    position: relative;
    transition:all 0.5s ease-in-out;
    left: 3%;
    top:2%;
    padding-bottom: 30px;
}
#plus_container:hover
{
    border: solid black 2px;
    background-color: red;
    height: 75px;
    width: 105px;
    font-size: .8em;

}
#plus_link
{

    display: inline-block;
    position: relative;
    left: 3%;
}
#plus_link2
{
    color: black;
    transition: all 0.5s ease-in-out;

}
#plus_link2:hover
{
    color: red;

}

#box
{
    position:absolute;
    left:310px;
    /*width:78%;*/
    max-width:100%;
    min-height:100%;
    right:18px;
    top:72px;
    background:#ffffff;
}
#pitanje
{
    font-size:36px;
    left:15px;
    position:relative;
    width: 1250px;
}
#pitanje_linija
{
    left:15px;
    position:absolute;
    right:20px;
    /*opacity: 0.2;*/
    background-color:red;
    height:5px;
    top:44px;
    max-width:100%;
    z-index:999;
}
#prvi
{
    color:red;
    font-size:24px;
    position:relative;
    left:15px;
    top:20px;
    max-width:65%
}
#prvi_odgovor
{
    position:relative;
    left:50px;
    font-size:16px;
    top:-10px;
    width:380px;
    border: none;
}
#prvi_odgovor_linija
{
    left:40px;
    position:relative;
    background-color:red;
    height:2px;
    top:-8px;
    width:400px;

}
#drugi
{
    color:red;
    font-size:24px;
    position:relative;
    left:15px;
    top:-10px;
    max-width:65%
}
#drugi_odgovor
{
    position:relative;
    left:50px;
    font-size:16px;
    top:-40px;
    width:380px;
    border: none;
}
#drugi_odgovor_linija
{
    left:40px;
    position:relative;
    background-color:red;
    height:2px;
    top:-38px;
    width:400px;

}
#treci
{
    color:red;
    font-size:24px;
    position:relative;
    left:15px;
    top:-40px;
    max-width:65%
}
#treci_odgovor
{
    position:relative;
    left:50px;
    font-size:16px;
    top:-70px;
    width:380px;
    border: none;
}
#treci_odgovor_linija
{
    left:40px;
    position:relative;
    background-color:red;
    height:2px;
    top:-68px;
    width:400px;

}
#cetvrti
{
    color:red;
    font-size:24px;
    position:relative;
    left:15px;
    top:-70px;
    max-width:65%
}
#cetvrti_odgovor
{
    position:relative;
    left:50px;
    font-size:16px;
    top:-100px;
    width:380px;
    border: none;
}
#cetvrti_odgovor_linija
{
    left:40px;
    position:relative;
    background-color:red;
    height:2px;
    top:-98px;
    width:400px;

}
#peti
{
    color:red;
    font-size:24px;
    position:relative;
    left:15px;
    top:-100px;
    max-width:65%
}
#peti_odgovor
{
    position:relative;
    left:50px;
    font-size:16px;
    top:-130px;
    width:380px;
    border: none;
}
#peti_odgovor_linija
{
    left:40px;
    position:relative;
    background-color:red;
    height:2px;
    top:-128px;
    width:400px;

}
#kraj_odgovora_linija
{
    left:15px;
    position:absolute;
    right:20px;
    /*opacity: 0.2;*/
    background-color:red;
    height:5px;
    top:290px;
    max-width:100%;
    z-index:999;
}
#kraj_linija
{
    left:15px;
    /*position:absolute;*/
    right:20px;
    /*opacity: 0.2;*/
    background-color:red;
    height:5px;
    top:580px;
    max-width:100%;
    z-index:999;
}
#go_back
{
    left:43%;
    position:relative;
    top:-30px;
    max-width:100px;
}
.dugme
{
    border-color:red;
    background:#ffffff;
    width:12%;
    height:4%;
    font-size:24px;
}
.dugme:hover
{
    background:rgb(255,134,134);
    color:#ffffff;
}


/* LIBRARY */

#dodaj
{
    position:absolute;
    left:30px;
    top:18px;
}

#add_pdf
{
    font-size:16px;
    color:red;
    top:8px;
    left:6%;
    position:relative;
}
#pdf_linija
{
    height:1px;
    width:77%;
    position:relative;
    left:6%;
    top:13px;
    background-color:silver;
}
#pdf_container
{

}
#pdf1
{

    font-size:2em;

}
#pdf_linija1
{
    height:1px;
    width:77%;
    margin: auto;
    background-color:silver;
    margin-bottom: 20px;
}
#pdf_opis
{

    color:silver;
}
#lecture_wrapper
{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;


}
#span_container
{
    display: -webkit-flex;
    display: flex;
}
#wrapping_content_course
{
    margin-top: 2%
}
#thumbnail_course
{
    height: 200px;
    width: 300px;

    top: 10px;
    float: left;

    color:#ffffff;
    text-align: center;
    display: inline;
    white-space: none;
}

#bottom_content
{
    width: 100%;
    text-align:center;
    position: absolute;
    margin-top: 100px;

}

#choose
{
    position:relative;
    left:150px;
    top:-125px;
    font-size:20px;
}
#video
{
    position:relative;
    left:150px;
    top:-140px;
    font-size:20px;
    max-width:100px;
}